@model OnlineShop.Core.Product


@{
    ViewBag.Title = "Details";
    //IEnumerable<OnlineShop.Core.Models.Comment> commentList = ViewBag.Comments as
    //IEnumerable<OnlineShop.Core.Models.Comment>;
    //var comments = ViewBag.Comments as IEnumerable<OnlineShop.Core.Models.Comment>;
    //var comments = (IEnumerable<OnlineShop.Core.Models.Comment>);
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<h2>Details</h2>

<div>
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />
    </div>
    <div class="col-md-10">
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

        </dl>
        </div>
    </div>
    @*@foreach (var c in commentList)
        {
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <i>@c.CreatedAt</i>
                    <br />
                    @for (var i = 1; i <= c.Rating; i++)
                    {
                        <span class="starGlowN"></span>
                    }
                    @for (var i = (c.Rating + 1); i <= 5; i++)
                    {
                        <span class="starFadeN"></span>
                    }
                </div>

            </div>
        }*@
    <hr />
    <hr />
    @Html.Partial("_CommentBox")

    <script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
    </script>

    